:root {
    --linear-purple: linear-gradient(90deg, #d836e6, #581cea, rgba(88, 28, 174, 0));
    --vermelho: #da291c;
    --preto: #1f1d1d;
    --purple-haze:  #581cea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1440px;
    color: var(--preto);
}
.banner {
    background-image: url(./assets/images/banner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 1.8rem;
    
    color: #fff;
}
.banner-text h1, .banner-text p {
    width: 100%;
}
.banner h1 {
    font-size: 50px;

}
.banner p {
    font-size: 30px;
}
.banner .cta {    
    background-color: #01a884;
    width: 30%;
    height: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 1rem;
    font-size: 18px;
    transition: 0.5s;
    
}

@media screen and (max-width:450px) {
.banner {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 70vh;

}
.banner-text{
    margin: 0;
    padding: 0;
}
.banner-text h1 {
    font-size: 35px;
    width: 100%;
    color: gold;
}
.banner-text p {
    width: 100%;
}
.banner .cta{
    width: 80%;
}
}
/* Estilos para o header e nav */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: var(--vermelho);
    height: 100px;
}

/* Estilos para o menu */
header nav .menu {
    display: flex;
    gap: 1.8rem;
    list-style: none;
    color: #ffffff;
    z-index: 99;
}

/* Itens do menu */
header nav .menu a {
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    padding: 10px;    
}
header nav .menu a:hover {
    color: gold;
    letter-spacing: 0.5rem
}
header nav  .cta:hover {
    color: gold;
    letter-spacing: 0.2rem
}

/* Botão de contato */
header nav .cta {    
    background-color: #01a884;
    height: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 1rem;
    font-size: 18px;
    padding: 0 1rem;
}

/* Ícone do menu para telas menores */
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


.logo img {
    width: 100px;
}
@media (max-width: 768px) {
    /* Ocultar menu padrão e exibir ícone do menu */
    header nav .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: var(--vermelho);
    }
    header nav .menu.active {
        display: flex;
        text-align: right;
    }
    .menu-icon {
        display: block;
    }

    /* Ajuste o botão de contato */
    header nav .cta {
        width: auto;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
        width: 100px;
    }
}
.plano-net h2 {
    text-align: center;
}
.net-title h1, h2, h3  {
    align-items: center;
    text-align: justify;
    line-height: 1.2;

}

.net-title h1 {
    color: gold;
    font-size: 30px;
    margin-top: 50px;
    padding: 10px;
}
.net-title h2 {
    color: purple;
    font-size: 27px;
    padding: 10px;
}
.net-title h3 {
    padding: 10px;
    color: #01a884;
    font-size: 23px;
}
.planos-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 1.8rem;
}
.plano-net:first-child {
    height: 86vh;
    display: flex;
    flex-direction: column;
        
    gap: 1.8rem;
}
.plano-net:first-child p {
    margin: 0 40px;
}
.plano-net p {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 40px;
    
}
.plano-net-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
    justify-content: space-between;
}
.plano-net {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    border: var(--vermelho);
    padding: 2rem;
    cursor: pointer;
    transition: 0.5s;
}
.plano-net:hover {
    background-color: var(--vermelho);
}
.plano-net:hover>* {
    
}

.plano-net h2 {
    margin: 12px auto;
}
.plano-net .cta {    
    background-color: #01a884;
    width: 100%;
    height: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 1rem;
    font-size: 18px;
}
.plano-net .cta:hover {
    color: gold;
}
.plano-net span {
    height: 20px;      
}
.plano-net span img{
    width: 50%;
    height: 80px;
}   

@media screen and (max-width: 450px) {
.internet-planos {
width: 100%;
max-width: 450px;
}
.internet-planos h2, h3 {
    margin: 30px auto;
}

.planos-content {
    display: flex;
    flex-direction: column;
}
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}    


.modalContent {
    background-color:  #ffffff;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
    margin: 15% auto; 
    padding: 20px;
    width: 100%; 
    max-width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.modalText {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}
.megaplano {
    box-shadow: #1d1d1d 1px 1px 10px;
    border-radius: 5px;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.megaplano p{
    font-weight: 700;
}
.megaplano h2 {
    margin: 12px auto;
}
.megaplano .cta {
    background-color: #01a884;
    width: 100%;
    height: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 1rem;
    font-size: 18px;
}

.megaplano .cta:hover {
    color: gold;
}
.megaplano  span {
    height: 20px;           
}
.megaplano img{
    width: 100%;
    height: 80px;
}
        
.modal button {
    margin: 0 auto;
    width: 50%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
    
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:450px) {
    .modal {
        width: 100%;
        max-width: 450px;
    }
    .modalContent .modalText {
        display: flex;
        flex-direction: column;
    }    
}

.sobre {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.sobreText {
    display: flex;
    gap: 1.8rem;
}
.sobreText p {
    width: 50%;
}
.sobreText ul li {
    list-style: none;
    line-height: 1.5;
}
.sobreText ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.sobreText ul h3 {
    display: flex;
    text-align: justify;
}
.callText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}
.callText .cta {    
    background-color: #01a884;
    width: 30%;
    height: 35px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 1rem;
    font-size: 18px;
}
@media screen and (max-width: 450px){
   .sobre {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .sobreText {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .sobreText p {
    max-width: 450px;
    width: 100%;
    width: 100%;
    font-size: 18px;
   }
   .sobreText ul h3 {
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 23px;
    width: 100%;
   }
   .sobreText ul {
    display: flex;
    max-width: 450px;
    width: 100%;
    font-size: 18px;
   }
   .callText {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
   }
   .callText .cta {
    width: 100%;
   }
    
}
@media screen and (min-width: 451px) and (max-width: 768px){
   
}
.feedbacks {
    padding: 40px;
}
.feedbacks-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.feedback {
    padding: 40px;
    background-color: rgb(43, 43, 213) ;
    border-radius: 5px;
    color: #fff;
}
.name-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    
}
.name-rate span  {
    color: gold;
    width: 100%;
    justify-content: space-between;
}
.local {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 450px){
   
    
}
@media screen and (min-width: 451px) and (max-width: 768px){
   
}
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    padding: 40px;
    background-image: url(./assets/images/Internet\ Para\ Empresas\ Provedor\ De\ Internet\ Moderno\ Roxo\ E\ Branco\ Post\ Para\ Instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.contatos {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
    
}
.contatos ul li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s ;
}
.contatos ul li:hover {
    color: gold;
}
@media screen and (max-width: 450px){
   .contato {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;

   }
   .contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.3rem;
   }
}
@media screen and (min-width: 451px) and (max-width: 768px){
   .contato {
    min-width: 451px;
    max-width: 768px;
    width: 100%;
   }
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--vermelho);
    color: #fff;
    padding: 40px;
    gap: 1.8rem;
}
footer ul {
    display: flex;
    gap: 1.3rem;
}
footer ul li {
    list-style: none;
    cursor: pointer;

}
footer span a {
    text-decoration: none;
    color: gold;
    transition: 0.5s;
}
footer span a:hover {
    color: #fff;
}
footer span {
    color: gold;
}

@media screen and (max-width: 450px){
    footer {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    footer ul {
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 451px) and (max-width: 768px){
    footer {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    footer ul {
        display: flex;
        flex-direction: column;
    }
}